# --- Frameworks & Server ---
fastapi
uvicorn
python-multipart
gunicorn==23.0.0
eventlet

# --- Socket & Communication ---
python-socketio
flask-socketio

# --- Database & Config ---
sqlalchemy
python-dotenv

# --- AI & Processing ---
torch
transformers
numpy==1.26.4
huggingface-hub
google-generativeai

# --- Utilities ---
pydantic
pydantic-settings
requests
aiohttp
pymysql
